/************************************************************************************
    BODY
************************************************************************************/

body {
    overflow-y: scroll;
}

/************************************************************************************
    BLOCKS
************************************************************************************/

.block ul {
    padding-left: 15px;
}

/************************************************************************************
    BANNERS
************************************************************************************/
#banner-1 {
    margin-top: -30px;
}

#banner-1 img {
    width: 100%;
}

/************************************************************************************
    MESSAGES
************************************************************************************/

.alert-box ul {
    list-style-type: none;
    margin-bottom: 0;
}

/************************************************************************************
    FORMS
************************************************************************************/

form ul {
    list-style-type: none;
    color: red;
}
input.input-error, textarea.input-error {
    border: thin solid red;
}

form label span.custom {
    margin-right: 5px;
}

/************************************************************************************
    SONG
************************************************************************************/

.song-album-art {
    max-width: 300px;
}

/************************************************************************************
    AJAX
************************************************************************************/

#load-gif
{
    position: relative;
    left: 50%;
}